<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav" aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
    <!-- Menu Area Start -->
    <div class="collapse navbar-collapse justify-content-center" id="yummyfood-nav">
        <ul class="navbar-nav" id="yummy-nav">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown hide">
                <a class="nav-link dropdown-toggle" href="#" id="yummyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="yummyDropdown">
                    <a class="dropdown-item" href="index.html">Home</a>
                    <a class="dropdown-item" href="index.html">Archive</a>
                    <a class="dropdown-item" href="index.html">Single Blog</a>
                    <a class="dropdown-item" href="index.html">Static Page</a>
                    <a class="dropdown-item" href="index.html">Contact</a>
                </div>
            </li>
            <li class="nav-item">
                <a routerLink="/category/1" class="nav-link">ファッション</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category/2" class="nav-link">ビューティ</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category/4" class="nav-link">グルメ</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category/6" class="nav-link">アート</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category/7" class="nav-link">映画</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category/8" class="nav-link">音楽</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category/5" class="nav-link">ライフスタイル・カルチャー</a>
            </li>
        </ul>
    </div>
</nav>